<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwAd-eJ6eWYUpsmd_YhEiktOx7EJZuwzM</string>
	<key>GCM_SENDER_ID</key>
	<string>132003769465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmetakifkaymak.ilacTakip</string>
	<key>PROJECT_ID</key>
	<string>ilactakip-c196c</string>
	<key>STORAGE_BUCKET</key>
	<string>ilactakip-c196c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132003769465:ios:ebbe01474ab1f0a9a778a8</string>
</dict>
</plist>